# Seminars 1&2

Seminars and home assignments will be in Jupyter notebooks.

It is possible to open and edit notebooks (.ipynb files) with



*   [JupyterLab](https://jupyter.org/try-jupyter/lab/)
*   [Google Colab](https://colab.research.google.com/)

Notebooks are useful, because they combine code cells and text cells.

In text cells we can write formulas $\alpha^7 = \frac{1}{6}$, **text in bold** and *italic*

And even add pictures, here is the logo of python:

![image.png]()

In code cells we can write python code

In [ ]:
a = 7
b = a + 1
b

We may print something:

In [ ]:
print('printing something useful: 2+2=', 2+2)

If we make a mistake in code, different errors wil be rased:

In [ ]:
#we cannot divide by zero! error!!
5 / 0

## Python

### Total recall

Let's start with python basics:

In [ ]:
a = int(' 2 ')
b = 3
b = a ** b

**Questions**




*   What are `a` and `b`?
*   What is `int` and why do we use it here?
*   What will `b` equal after the code executes?

More complicated example:

In [ ]:
arr1 = [1, 7, -1, 9, -12]
arr2 = arr1[1:4]

**Questions**




*   What type is `arr1`?
*   What `[` and `]` mean? Why there are numbers inside them?
*   What will `arr2` equal after the code executes?

Another example ([Source](https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D1%81%D1%83%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BE%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%BE%D0%B9_%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%B8_%D0%BF%D0%BE_%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%BE%D0%B2) of data)

In [ ]:
#Number of students in Russia by region in 2015
number_of_students = {'Moscow' : 757350,
                      'Saint Petersburg' : 302907,
                      'Tatarstan' : 163201,
                      'Rostov Oblast' : 149160
                     }

number_of_students['Sverdlovsk Oblast'] = 135370

if number_of_students['Sverdlovsk Oblast'] < number_of_students['Moscow']:
  print('Moscow is bigger')
else:
  print('Sverdlovsk is bigger')

**Questions**




*   What type is `number_of_students`?
*   How do we use names of regions?
*   Why phrase *Moscow is bigger* was printed?

In [ ]:
def is_an_only_child(number_of_siblings):
  return number_of_siblings == 0


is_an_only_child(0), is_an_only_child(2), is_an_only_child('no siblings')

**Questions**




* What is `def` and `is_an_only_child`?
* Why do we use `==` and not `=`?
* Why do we get `False` for `'no siblings'`?

### Tasks

**Task** We have a list of numbers of people who immigrated to Russia in 2018 ([Source](https://en.wikipedia.org/wiki/Immigration_to_Russia) of data) from different countries. Write code to compute the total number of immigrants.

In [ ]:
immigrants = [67929, 44408, 55378, 46442, 72141, 7067, 10509, 26690, 5032,
              137776, 19045, 30676, 3981, 6345]
#your code here

**Task** We have a list of courses 2 lecturers teach. Write code to find courses that are being taught by both lecturers.

In [ ]:
lecturer1 = ['Applied Quantitative Logistics', 'Data Analytics and Mining',
             'Intro to Programming in Python', 'Intro to Programming in Python',
             'Machine Learning', 'Machine Learning and Data Mining',
             'Statistics for Social Science']

lecturer2 = ['Collection, Management and Analysis of Data on Social Processes',
             'Data Analytics and Mining', 'Introduction into Python',
             'Foundations of Machine Learning', 'Machine Learning 1'
             'Language Models in Sociology', 'Machine Learning and Data Mining',
             'Social Networks', 'Network Science',
             'Structural Analysis and Visualization of Networks']

#your code here

**Task** We have a dictionary of countries and  the size of their population in million ([Source](https://ec.europa.eu/eurostat/web/interactive-publications/demography-2025) of data) in 2024. Write code to find the most populous country.

In [ ]:
countries = {'France': 68.4,
             'Germany': 83.4,
             'Poland': 36.6,
             'Italy': 58.9,
             'Spain': 48.6
            }

#your code here

**Task** Write a function that given the list of ages computes the number of children (younger than 18 years)

In [ ]:
def compute_number_of_children(ages):
  #your code here

compute_number_of_children([45, 14, 24, 49, 7, 2, 18])

### Call for questions ✋

If you have **questions about Python** (variables, operations, arithmetics, `if`, `for`, lists, dictionaries) - feel free to ask them!

In [ ]:
print('Questions?'+'\n'*20)

## Numpy

### Why do we need it

Data mining and analytics requires to work with a lot of data. For example, if we are investigating countries/regions we may collect numerical data about:

* Size of population
* Age of residents
* Number of children
* Gross domestic product (GDP)
* Human Development Index (HDI)
* Access to electricity/water in percent
* School enrollment in percent, etc.
* What else?


So, we need special instruments to work with arrays of data. We can use only python lists/dictionary, but

*   there are not enough functions
*   it is slow

So, we need to use additional libraries (reminder: python *library* is an additional module which we can download and use in our code).

Example of slow code: let us imagine the situation that we know the age of every person in Russia (there are about 144 million of people).

In [ ]:
#fake data for example :) - 130 million of adults and 14 million of children
ages = [30] * 130000000 + [7] * 14000000
len(ages)

And we want to find out, how many children there are in Russia. Let's use our function:

In [ ]:
compute_number_of_children(ages)

It may take 10-30 seconds. This does not seems like a lot, but if we are analysing the data, conducting experiments, finding out different information (how many senior citizens? What is average salary of citizens? Do men and women have same salaries?) waiting is not an option.

### Numpy basics

Numpy is a library for working with arrays.

Why use numpy?

*   Convenience: numpy is designed for working with numerical arrays.
*   Functionality: there are a great variety of functions in numpy which are not available in pure Python. F. e. linear algebra, mathematical functions.
*   Better performance: it is much faster than pure Python.

Usually library is imported with the name `np`

In [ ]:
import numpy as np

The core object of the Numpy is an array. We may create it in number of ways.

#### Creating arrays, basic information

It can be created from python list

In [ ]:
l = [1,2,3]
a1 = np.array(l)
a1

What happened in the code above? Numbers were in python `list` and we created `array` with them.

What is the difference? `list` is a flexible container for data (we can have text, numbers, other lists, sets, dictionaries, etc) as element of the list, they may be used together. In numpy `array` - all the elements have the same type (f. e. only integer numbers) - working with them will be easier and faster

In [ ]:
type(l)

In [ ]:
type(a1)

In [ ]:
#Checking the type of every element in the array
a1.dtype

In array `a1` all the elements are integer numbers.

We also may create 2D array (matrices):

In [ ]:
l = [[1,2,3],
     [2,4,6]] #list of lists
a2 = np.array(l)
a2

For example, a grading table is a 2D array - every column is a homework, every row - a student

In [ ]:
grading_table = np.array([[10, 8, 9], #Andy has exellent grades
                          [7, 7, 7], #Bill has good grades
                          [5, 4, 6], #Carrie has satisfying grades
                          [10, 10, 10] #Dave has perfect marks
                          ])
grading_table

Or even 3D array!

In [ ]:
l = [[[1,2,3], [2,4,6]], [[10,20,30], [20,40,60]]]
a3 = np.array(l)
a3

The information (the dimension, number of elements, columns and rows) is saved

In [ ]:
a1.shape #1D array - 3 elements

In [ ]:
a2.shape #2D array - 2 rows, 3 columns


**Task** Guess - What will be the `shape` of the grading table we created earlier?

In [ ]:
#code for checking

#your code here

It is possible to checnge the shape of an array:

In [ ]:
a2.reshape(6) #make it 1D

In [ ]:
a2.reshape((3, 1, 2)) #make it 3D

But the total number of elements must be the same:

$2 \times 3 = 6 = 3 \times 1 \times 2$

In [ ]:
#error! there are 6, not 10 elements in the array
a2.reshape((5, 2))

Sometimes we may want some special arrays - for example, we may want a matrix filled with zeros. Numpy has functions to do it.

In [ ]:
#Here we want 2D matrix - 4 rows, 2 columns
zero_array = np.zeros((4, 2))

zero_array

Why we may need such and array? For example, grading table before the course is started: no homeworks yet - like all students have zeros :)

We also may create array of ones:

In [ ]:
np.ones((4, 3))

Do we have the same for the number 2? (Spoiler: no)

In [ ]:
#here will be an error
np.twos((4, 3))

How do we understand which functions exist? How do we know how to use them?


Answer: **documentation** - https://numpy.org/doc/2.0/

#### Documentation

Documentation is like a handbook: it has description of all  functions of the library, examples of usage and tutorials. All good pyhton libraries have documentation.

Feel free to consult it!

Let's investigate `ones` function (type `ones` in the search bar in documentation, choose `numpy.ones`).

We may see possible **arguments** - what exactly we may specify while using the function.

Arguments are:



*   Non-optional - the ones we must pass. In the function `ones` we passed one argument `shape=(4, 3)` - without it function cannot work. For example, if we are collecting data about residents of some place we must know their name and age.
*   Optional - we may specify them, if we need them. In our example we did not use them, but we may add `dtype` - the type of every element in the array. For example, we may want to know the salary of residents, but they may not want to disclose it (so, the default answer for the question will be 'Not disclosed')

![image.png]()

In [ ]:
#adding optional argument - we want our numbers to be integer
np.ones((4, 3), dtype=np.int8)

Which arguments we may specify, which possible values we may pass - all this information is in the documentation.

**Documentation is key to writing and understanding code**

Another useful funcrion that generates arrays is `arange(a, b, c)` - it generates numbers from `a` to `b` with step `c`.

In [ ]:
np.arange(2, 18, 3)

In [ ]:
list(range(2, 18, 3)) #very similar to range

The difference is that `range` cannot generate non-integer numbers, but `np.arange` can.

In [ ]:
#error!
list(range(1, 10, 0.5))

In [ ]:
np.arange(1, 10, 0.5)

#### Random numbers

Remember example with ages of residents of Russia?

We manually created fake data (14 million of 7-year-olds and 130 million of 30-year-old). Such data are called **synthetic**.


Synthetic data are artificially-generated data which mimics real-world data.

Synthetic data is useful for testing algorithms, conducting experiments (Does the code work at all? How much time will it require? Are the results of the algorithm are correct?)

Often synthetic data is **random** - we assume some distribution and generate from it.

In the example with ages we could assume that people may be 0, 1, 2, ..., 100 years old and generate random age for the person.

There are random numbers generators in numpy, f.e. `np.random.randint(a)` generates integer number from 0 to `a` (excluding `a`)

In [ ]:
#Random age of a person
np.random.randint(101)

If we want to generate sample of ages for a lot of people:

In [ ]:
synthetic_ages = np.random.randint(101, size=(14000000))

Let's find the number of children:

In [ ]:
compute_number_of_children(synthetic_ages)

Problem: if we run code again (generate new random numbers + compute number of children) or if you run the code yourself, the result will be different:  2 493 453, 2 494 016, 2 494 643, etc.

Why? Because the sample was random, so the ages change every time we run the code.


It is bad, because we cannot reproduce the experiment.

Solution: fix the randomness (we want random numbers, but same random numbers every time)

In [ ]:
#Fixing the randomness - setting particular seed
np.random.seed(0)

np.random.randint(101), np.random.randint(101)

In [ ]:
np.random.seed(2025)

synthetic_ages = np.random.randint(101, size=(14000000))
compute_number_of_children(synthetic_ages)

Now, if we run the code several times, or using different computer we still will get same results (2 495 867 children)

Better fix the seed every time random numbers are generated.

### Aggregation

We often want to aggragate our data:


*   What is the total number of immigrants in Russia?
*   What is the average age of residents?
*   What is the highest salary for Moscow residents?

Numpy has aggregation functions:

In [ ]:
a = np.array([1.7, 4, 2.9, 9])

a.sum()

In [ ]:
a.min()

In [ ]:
a.max()

In [ ]:
a.mean()

The same functions may be used for 2D arrays:

In [ ]:
grading_table

Here we will get an average mark for all students and all assignments

In [ ]:
grading_table.mean()

If we want to aggregater for every row/colum, we may use `axis` argument

In [ ]:
grading_table.mean(axis=1) #Average grade for every student

In [ ]:
grading_table.mean(axis=0) #Average grade for every assignment

### Indices, slices

We can take particular element or a slice of python list, the logic with arrays is the same:

In [ ]:
a

In [ ]:
a[0]

In [ ]:
#last element
a[-1]

In [ ]:
a[2:]

In [ ]:
a[2:4]

Additionally, if we know the indices we need, but cannot create a slice (f. e., we may need elements 0, 1 and 1234) we can specify the list of them

In [ ]:
a[[0, 1, 0, -1]] #we want elements 0, 1, 0 again and the last one

Same logic is used for 2D, 3D, etc arrays.

In [ ]:
grading_table

In [ ]:
grading_table[1:3] #1 and 2 rows

Additionally, we can access columns (and further dimensions), using `,`

In [ ]:
grading_table[:, 2] # column 2 - 1D array, will look like row

In [ ]:
grading_table[:, 1:3] #1 fnd 2 columns, all rows

In [ ]:
grading_table[2:4, 1:3]

### Filtering

If we need to chosse elements based on some condition - we may not iterate over all elements, but use the whole array

In [ ]:
a

In [ ]:
a < 5

We get array of `bool` elements (True or False). Now, choose the elements using the mask.

In [ ]:
a[a < 5]

Remember example about children? We waited 1030 seconds using only python, 1 second using numpy arrays.

We can write much easier code with numpy:

In [ ]:
len(synthetic_ages[synthetic_ages < 18])

We seem to require much less time . Let's accurately measyre it:

In [ ]:
%%time
#special command in notebook that computes runtime of the cell

len(synthetic_ages[synthetic_ages < 18])

We required 100 ms, it is 0.1 second - 100 times faster than pure python! Additionally, we required only 1 line of code.

Simetimes it is also useful to know not only the elements that satisfy the condition, but their indices:

In [ ]:
np.where(a < 3)

Sorting:

In [ ]:
np.sort(a)

In [ ]:
np.argsort(a) #indices of elements are sorted based on the value

### Arithmetic operations

We can conduct elementwise arithmetic operations with arrays:

In [ ]:
a

In [ ]:
a + 1

In [ ]:
a - 4.2

In [ ]:
a * 5

In [ ]:
a / 3

In [ ]:
a ** 2

Numpy also has some useful mathematical functions ([list](https://numpy.org/doc/2.2/reference/routines.math.html) of functions):

In [ ]:
np.sin(a) #elementwise sin

In [ ]:
np.exp(a)

In [ ]:
np.round(a)

In [ ]:
np.round(a ** 2, 1)

Same with 2D arrays:

In [ ]:
grading_table * 0.1

In [ ]:
np.sin(grading_table)

We can make arithmetic operations with several arrays (if their shapes and sizes are compitable)

In [ ]:
b = np.array([1, 2.2, 3.8, -1.])
a.shape, b.shape

In [ ]:
a + b

In [ ]:
a * b

In [ ]:
c = np.array([1, 2, 3])
#error! cannot sum 4 elements and 3 elements
a + c

In [ ]:
bonus_points = np.array([[0, 0, 0],
       [1, 0, 0.5],
       [0.5, 0.5, 1],
       [0, 0, 0]])

grading_table + bonus_points

We may sum/multiply/etc. 2D and 1D arrays (numpy will think we want to work with every row separately)

In [ ]:
#weight of every home assignment
weights = np.array([0.3, 0.3, 0.4])

grading_table * weights

We can compute final grades of the students:

In [ ]:
(grading_table * weights).sum(axis=1)

While working with arrays we may encounter `nan` and `inf` values

In [ ]:
b

In [ ]:
b / 0

We cannot divide by 0 (if we divide numbers, we get `ZeroDivisionError`), but numpy does not raise any error (only warning). Numpy gives `inf` = infinity (dividing by very small valy gives huge number, so dividing by zero - infinitely big number)

In [ ]:
zeros = np.zeros((5, 2))

zeros / 0

Here we tried diving zero by zero and the result is undefined, so numpy gives `nan` = Not-a-Number. Usually, `nan` in the results of the experiments mean that something went wrong and numpy cannot compute the number.

Further computing is problematic:

In [ ]:
np.nan + 2

In [ ]:
np.nan + np.nan

In [ ]:
np.nan - np.nan

In [ ]:
np.nan - np.inf

In [ ]:
np.inf - np.inf

### Real data! + Tasks

It is possible to easily download data from GitHub in notebooks:

In [ ]:
!wget https://github.com/Majid-Sohrabi/DAM-2025/raw/refs/heads/main/01-intro/world_population.npy
!wget https://github.com/Majid-Sohrabi/DAM-2025/raw/refs/heads/main/01-intro/world_population_countries.npy

Let's apply our knowledge of Numpy to some real data([Source](https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset/code) of data).

We do not create data manually, we upload it from the file using numpy.

In [ ]:
import numpy as np

In [ ]:
population = np.load('/content/world_population.npy')
population.shape

The array contain population of 234 countries in years 2020, 2010, 2000, 1990, 1980 and 1970 (6 columns)

**Task** What is the total population of all the countries during every year?

In [ ]:
#your code here

**Task** How many countries had more than 1 billion people in 2020? And in 1970?

In [ ]:
#your code here

**Task** How big was the biggest growth in population from 1970 to 2020?

In [ ]:
#your code here

Let's also upload the array of names of the countries.

In [ ]:
countries = np.load('/content/world_population_countries.npy', allow_pickle=True)
countries.shape

In [ ]:
countries[:5]

**Task** How many millions of people lived in Russia  in 2000? Round to 1 digit (like 3.4 millions)

Hint: firstly find the index of Russia in the array

In [ ]:
#your code here

**Task** Which are the top-10 most populated countries in 1990? And in 2000? Are these the same countries?

In [ ]:
#your code here

**Task** Depict the growth in population of Ghana for every decade

In [ ]:
#your code here

## GitHub

Your final project should ba availible on GitHub

Instructions:

*   [How to register](https://docs.github.com/en/get-started/start-your-journey/creating-an-account-on-github)
*   [How to create a repository](https://docs.github.com/en/repositories/creating-and-managing-repositories/quickstart-for-repositories)
*   [How to add collaborators](https://docs.github.com/ru/account-and-profile/how-tos/setting-up-and-managing-your-personal-account-on-github/managing-access-to-your-personal-repositories/inviting-collaborators-to-a-personal-repository)